@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf); format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #84E1AD;
}

header {
    background-image: linear-gradient(to bottom, #3CD681, #1A5C38);
}

header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 13px;
}

header > h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-size: small;
    font-weight: lighter;
    text-align: center;
    color: white;
    padding: 8px 10px 15px 10px;
}

header > nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav > a {
    text-decoration: none;
    color: white;
}

main {
    background-color: white;
    margin: 0px 200px 0px 200px;

}
article > h1 {
    font-family: 'idroid';
    font-size: 1.5em;
    padding: 10px 10px 0px 17px;
}

article > h2 {
    background-image: linear-gradient(to right, #C8ECD8, white);
    font-family: 'idroid';
    font-size: 20px;
    padding: 2px;
    margin: 15px;
}

article > picture {
    padding: 0px 48px;
}

article > p {
    text-align: justify;
    text-indent: 30px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}